<h2><b><center></b></center></h2>
<body>
<large>
<br>date/time: 2021/04/13 13:42:34<br>
<br>type: Through Pin
<br>units: mm
<br>decimal places: 2
<br><br><u>Hole data</u><blockquote>
geometry: Circle
<br>size: 0.00
<br>offset: (0.00, 0.00)
<br>tolerance: positive=0.00 negative=0.00
<br>plating: Plated
</blockquote>
<br><u>Drill symbol data</u><blockquote>
geometry: None
<br>width: 0.00
<br>height: 0.00
<br>characters: 
</blockquote>
<br><u>Design layer pads</u>
<blockquote>Layer: BEGIN LAYER
<table border=1>
<tr>
<th>Pad</th>
<th>Geometry</th>
<th>Width</th>
<th>Height</th>
<th>X offset</th>
<th>Y offset</th>
<th>Corner radius</th>
<th>Rounded corners</th>
</tr>
<tr>
<td>Regular</td>
<td>Rounded rectangle</td>
<td>0.45</td>
<td>2.50</td>
<td>0.00</td>
<td>0.00</td>
<td>0.05</td>
<td>UL LL LR UR</td>
</tr>
<tr>
<td>Thermal</td>
<td>None</td>
</tr>
<tr>
<td>Anti</td>
<td>None</td>
</tr>
<tr>
<td>Keep Out</td>
<td>None</td>
</tr>
</table><br>
</blockquote>
<blockquote>Layer: DEFAULT INTERNAL
<table border=1>
<tr>
<th>Pad</th>
<th>Geometry</th>
<th>Width</th>
<th>Height</th>
<th>X offset</th>
<th>Y offset</th>
</tr>
<tr>
<td>Regular</td>
<td>None</td>
</tr>
<tr>
<td>Thermal</td>
<td>None</td>
</tr>
<tr>
<td>Anti</td>
<td>None</td>
</tr>
<tr>
<td>Keep Out</td>
<td>None</td>
</tr>
</table><br>
</blockquote>
<blockquote>Layer: END LAYER
<table border=1>
<tr>
<th>Pad</th>
<th>Geometry</th>
<th>Width</th>
<th>Height</th>
<th>X offset</th>
<th>Y offset</th>
<th>Corner radius</th>
<th>Rounded corners</th>
</tr>
<tr>
<td>Regular</td>
<td>Rounded rectangle</td>
<td>0.45</td>
<td>2.50</td>
<td>0.00</td>
<td>0.00</td>
<td>0.05</td>
<td>UL LL LR UR</td>
</tr>
<tr>
<td>Thermal</td>
<td>None</td>
</tr>
<tr>
<td>Anti</td>
<td>None</td>
</tr>
<tr>
<td>Keep Out</td>
<td>None</td>
</tr>
</table><br>
</blockquote>
<blockquote>Layer: ADJACENT LAYER
<table border=1>
<tr>
<th>Pad</th>
<th>Geometry</th>
<th>Width</th>
<th>Height</th>
<th>X offset</th>
<th>Y offset</th>
</tr>
<tr>
<td>Regular</td>
<td>None</td>
</tr>
<tr>
<td>Thermal</td>
<td>None</td>
</tr>
<tr>
<td>Anti</td>
<td>None</td>
</tr>
<tr>
<td>Keep Out</td>
<td>None</td>
</tr>
</table><br>
</blockquote>
<br><u>Mask layer pads</u>
<blockquote>
<table border=1>
<tr>
<th>Layer</th>
<th>Geometry</th>
<th>Width</th>
<th>Height</th>
<th>X offset</th>
<th>Y offset</th>
</tr>
<tr>
<td>SOLDERMASK_TOP</td>
<td>None</td>
</tr>
<tr>
<td>SOLDERMASK_BOTTOM</td>
<td>None</td>
</tr>
<tr>
<td>PASTEMASK_TOP</td>
<td>None</td>
</tr>
<tr>
<td>PASTEMASK_BOTTOM</td>
<td>None</td>
</tr>
<tr>
<td>FILMMASK_TOP</td>
<td>None</td>
</tr>
<tr>
<td>FILMMASK_BOTTOM</td>
<td>None</td>
</tr>
<tr>
<td>COVERLAY_TOP</td>
<td>None</td>
</tr>
<tr>
<td>COVERLAY_BOTTOM</td>
<td>None</td>
</tr>
</table><br>
</blockquote>
<br><u>Usage options</u><blockquote>
Suppress unconnected internal pads: No
<br>Lock layer span: No
</body>
