<body>
<large>
<br><b>Padstack:</b> d0_46d0_2<body>
<large>
<br><b>Software Version:</b>
17.2<body>
<large>
<br><b>Date/Time</b>: 2018/07/20 13:36:49<br>
<hr style=border-top: dashed 2px; />
<blockquote>
<br><table border=1>
<tr>
<th>Severity</th>
<th>Message</th>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>NCDRILL:  Drill figure size not defined.</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>NCDRILL:  Drill symbol not defined, currently set to None. As a result, this drill type will not appear in the NC Legend Drawing.</td>
</tr>
</table></br>
</blockquote>
