<body>
<large>
<br><b>Padstack:</b> VIA<body>
<large>
<br><b>Software Version:</b>
17.4<body>
<large>
<br><b>Date/Time</b>: 2021/04/14 15:53:20<br>
<hr style=border-top: dashed 2px; />
<blockquote>
<br><table border=1>
<tr>
<th>Severity</th>
<th>Message</th>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Internal layers are defined for this padstack.  When loading this padstack into a design, only the internal layers with names matching those defined in the design will be used.</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Drill hole size exceeds pad TOP size</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Drill hole size exceeds pad MID1 size</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Drill hole size exceeds pad MID2 size</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Drill hole size exceeds pad DEFAULT INTERNAL size</td>
</tr>
<tr>
<td width=200>Warning</td>
<td width=200>Drill hole size exceeds pad BOTTOM size</td>
</tr>
</table></br>
</blockquote>
